# Ignore all files by default
*

# Allow git files
!.gitignore
!.gitattributes

# Allow GitHub files
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.github/workflows/*.yaml
!action.yml
!action.yaml

# Allow Markdown files
!*.md

# Allow LICENSE files
!LICENSE

# Allow Docker files
!.dockerignore
!Dockerfile
!docker-compose.yml
!docker-compose.yaml

# Allow scripts
!*.sh
